<center>
  <h1>Welcome to the Testing Wonderland</h1>
</center>
  <ul>Some Prerequisites:
    <li>Some basic Ruby Knowledge</li>
    <li>Some basic understanding of the command terminal</li>
    <li>An understanding of objects</li>
    That's it actually! Our goal is to take you from 0 to 100 with Watir and Cucumber
  </ul>
  <center>
  <% if user_signed_in? %>
  <p>Welcome <%= current_user.first_name + ' ' + current_user.last_name %></p>
  <table class="table">
    <tr>
    <th>Section</th>
    <th>Your Progress</th>
  </tr>
  <% @section.each do |section| %>
  <tr>
    <td><%= section.name %></td>
  </tr>
  </table>
  <% end %>
  <% else %>
  <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-primary" %>
  <%= link_to "Log in", new_user_session_path, class: "btn btn-primary" %>
  <% end %>
</center>
