<center>
  <h1>Welcome to the Testing Wonderland</h1>
</center>
  <ul>Some Prerequisites:
    <li>Some basic Ruby Knowledge</li>
    <li>Some basic understanding of the command terminal</li>
    <li>An understanding of objects</li>
    That's it actually! Our goal is to take you from 0 to 100 with Watir and Cucumber
  </ul>
<center>
<table class="table">
  <tr>
  <th>Section</th>
  <th>Your Progress</th>
</tr>
<tr>
  <td>Webdriving With Ruby</td>
  <td>Placeholder</td>
  <td><%= link_to ">>", webdriving_with_ruby_path, class: "btn btn-primary"%></td>
</tr>

    <tr>
      <td>Gherkinizing your application</td>
      <td>Status will go here</td>
      <td><%= link_to ">>", page_unavailable_path, class: "btn btn-primary" %></td>
    </tr>
    <tr>
      <td>Page Objects</td>
      <td>Placeholder</td>
      <td><%= link_to ">>", page_unavailable_path, class: "btn btn-primary" %></td>
    </tr>
    <tr>
      <td>Stuff to Break</td>
      <td>Placeholder</td>
      <td><%= link_to ">>", page_unavailable_path, class: "btn btn-primary" %></td>
    </tr>
</table>
</center>
